.books-section {
    padding: 40px 20px;
    background-color: #071f40;
}

.books-section h1{
    display: flex;
    justify-content: center;
    color: var(--wht);
    margin-bottom: 40px;
}

.books-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    max-width: 1300px;
    margin: auto;
}

.book-card {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
.book-card:hover {
    transform: scale(1.05);
}

.book-image {
    background: white;
    padding: 15px;
}

.book-image img {
    width: 100%;
    height: auto;
    display: block;
}

.book-info {
    background-color: #071f40;
    padding: 20px;
    text-align: center;
}

.book-info h3 {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}

.book-info p {
    color: #9ec3ff;
    font-size: 13px;
}
.books-cta{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media (min-width: 640px) {
    .books-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .book-info h3 {
        font-size: 15px;
    }

    .book-info p {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .books-section {
        padding: 60px 40px;
    }

    .books-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .book-info h3 {
        font-size: 16px;
    }
}